@tailwind base;
@tailwind components;
@tailwind utilities;

/* dancing-script-700 - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/dancing-script-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/dancing-script-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1 {
    font-family: 'Dancing Script', sans-serif;

    @apply font-bold;
}

::selection {
    @apply bg-pink-500 text-pink-50;
}
